#container {
	background: #130101;
	font-family: sans-serif;
	font-size: 20px;
	color: #FEFEFE;
	text-align: right;
	height: 75px;
}
a{
	padding-right: 10px;
}

a:hover{
	color: white;
}

a:visited{
	color: white;
}

#main{
	background: #2B6AFD;
	padding: 10px;
	font-family: sans-serif;
	font-size: 50px;
	color: #FEFEFE;
	text-align: center;
}

img{
	height: 500px;
}