body{
	margin: 0px;
}

#signin{
	padding: 10px;
	padding-right: 30px;
	font-size: 20px;
	float: right;
	color: white;
	text-decoration: none;
}

a:hover{
		background: #A6A6A6;
		float: right;
		opacity: 0.5; 
		text-decoration: none;
	}

a:visited{
	padding-right: 30px;
	float: right;
	text-decoration: none;
}

#main{
	background: #9E9E9E;
	padding: 20px;
	font-family: sans-serif;
	color: #FEFEFE;
	text-align: center;
	width: 97.5%;
	height: 555px;
}

img{
	width: 75%;
	height: 500px;
}

.text{ /*To change */
	color: #f2f2f2;
	font-family: sans-serif;
	position: absolute;
	width: 100%;
}

#first{
	font-size: 40px;
	color: black;
	left: 20%;
	text-align: left;
	top: 70%;
}

#second{
	font-size: 30px;
	text-align: center;
	top: 75%;
}

#third{
	font-size: 50px;
	color: black;
	text-align: center;
	top: 20%;
}

.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}

#about{
	font-family: sans-serif;
	font-size: 30px;
	color: #160202;
	text-align: center;
}

section{
	font-size: 15px;
	width: 500px;
	margin: auto;
}